@model OnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme </h2>
<br />
<!--  -->
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Durum)
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.KategoriID)
</div>
    <button class="btn btn-warning">Güncelle</button>
}
